---
---

@import "{{ site.theme }}";

.social-icon {
    background-color: CanvasText;
    display: inline-block;
    height: 40px;
    width: 36px;
    mask: var(--social-icon) center / contain no-repeat;
    vertical-align: middle;
    -webkit-mask: var(--social-icon) center / contain no-repeat;
}

.social-icon-google-scholar {
    --social-icon: #{url('../icons/google-scholar-square.svg')};
}

.social-icon-github {
    --social-icon: #{url('../icons/github-square.svg')};
}

.social-icon-orcid {
    --social-icon: #{url('../icons/orcid-square.svg')};
}

.social-icon-stackoverflow {
    --social-icon: #{url('../icons/stackoverflow-square.svg')};
}